// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

// Set your brand colors
$green: #1AAC6D;
$orange: #dd813e;
$grey-dark: #282828;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;

$grey-light: $beige-light;
$primary: $green;
$secondary: #dd813e;
$warning: #dd813e;
$link: $green;
$widescreen-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: white;
$input-border-color: $primary;
$input-color: $grey-dark;
$input-focus-color:white;
$input-shadow: none;
$modal-background-background-color: $green;
$footer-background-color:white;

// Import the rest of Bulma
@import "../../../node_modules/bulma/bulma.sass";